VITE_SPOONACULAR_API_KEY=asdfasdfasvsadv
# Firebase Configuration
VITE_FIREBASE_API_KEY=gsdfgsdfsadfsadfsadfsdf
VITE_FIREBASE_AUTH_DOMAIN=asdfasdfasdfasdfasdfasdf
VITE_FIREBASE_PROJECT_ID=asdfasdfasdfasdfasdf
VITE_FIREBASE_STORAGE_BUCKET=asdfsadfasertsadf
VITE_FIREBASE_MESSAGING_SENDER_ID=dghsdfgdfgdsfg
VITE_FIREBASE_APP_ID=sdfghjkl